

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:  normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.span-color{
    color: #FD6E0A;
}

.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
      list-style: none;
      margin-right: 51px;
   
      
}
nav li a{
    text-decoration: none;
    
    font-size: 20px;
    
}
nav ul{
       display:flex;
       align-items: center;
       
}
/* shared */
.seceondary-bg{
    background-color: #FFF8F3;
    
}

.dark-2{
    
    
    color: #474747;
}
.btn{
    background-color: #FD6E0A;
    color:white;
    font-weight:bold;
    
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.section-title{
           font-weight: bold;
           font-size: 35px;
           color: #181818;
}
.section-description{
       font-weight: regular;
           font-size: 18px;
           color: #757575;
       
}
.text-center{
    text-align: center;
}
/* .cn{
    background-color: white;
} */

/* banner style */
.banner{
    display:flex;
    justify-content: space-between;
    margin:0 38px 0 199px;
}
.b-content{
    max-width: 585px;
    height: 356px;
}
.b-gri{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
    
}

.b-title{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
     margin-bottom: 20px;
   
}
.b-content p{
    margin-bottom: 20px;
}
p{
    font-size: 18px;
    font-weight: regular;
}
.b-image{
    width: 584px;
    height: 700px;
}
/* body */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about style/ main section under <body> tag */

 main section{
          margin-top: 130px;
          margin-bottom: 130px;
 }   
    
}
.container{
             border: 2px solid black;
             background-color: #FFFFFF;
}
.about{
    
    border-radius: 10px;
    padding: 131px 157px;
    text-align: center;
    
    

}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
    
}
.item-title{

}
/* Third page 2nd section in body 
and working to the (skill class) */
.section-description{
    margin-top: 30px ;
    margin-bottom: 50px;
}

.skills-container{
    display:flex;
    gap:24px;
}
.skill{
    border: 3px solid white;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* .skill-description{
    padding: 104px 33px 30px 30px;
} */

/* resume container */
.resume-title{
    text-align: center;
    color:rgba(24, 24, 24, 1);
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 113px;
}
.resume-container{
    display:flex;
    gap: 24px;
}
.experience-title{
    font-weight: bold;
    font-size: 25px;
    color: rgba(71, 71, 71, 1);
}
.experience-sub-title{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}
.experience-description, .experience-sub-title{
    color:rgba(117, 117, 117, 1);
}
.resume hr{
    margin-top: 30px;
    margin-bottom: 30px;
}
/* .resume.dcv{
    text-align: center;
} */
 .cv-button{
    margin-top: 50px;
    margin-bottom: 113px;
 }
 /* footer section last page */
 footer{
    display: flex;
    padding: 130px 230px;
    gap: 117px;
 }
 .footer-section{
    width: 50%;
    margin-left: 5%;
 }
 .footer-section p{
       margin-top: 20px;
       margin-bottom: 30px;
 }
 form input, textarea {
    padding-top: 14px;
    padding-bottom: 14px ;
    padding-left: 14px ;
    font-weight: bold;
    margin-bottom: 24px ;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    
 }
 .section-title{
    margin-bottom:28px;
 }
 .icon a{
    margin-right:20px ;
 }
